body{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.navbar-header{
	overflow: hidden;
	background-color: black;
}

.navbar .nav-element {
	float: left;
	color: pink;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	
}
.navbar .nav-element:hover {
	color: black;
	background-color: pink;
}
.container{
	background-color: pink;
}
.name {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	height: 600px;
	align-items: center;
	font-size: 2em;
	
}
.image{
 	width: 100%;
 }
.image img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  	height: 80%;
  	
}
.synopsis{ 

	width: 100%;
	text-align: center;
	font-size: 2em;
	position: relative;
	padding-top: 100px;
  	padding-bottom: 100px;
}

.footer{
	border-top: solid 3px gray;
	height: 50px;
	padding-top: 10px;
}